@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?q77la');
  src:  url('icomoon.eot?q77la#iefix') format('embedded-opentype'),
    url('icomoon.ttf?q77la') format('truetype'),
    url('icomoon.woff?q77la') format('woff'),
    url('icomoon.svg?q77la#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
  content: "\6b";
}
.icon-erlenmeyer-flask:before {
  content: "\62";
}
.icon-man:before {
  content: "\6f";
}
.icon-map:before {
  content: "\6e";
}
.icon-dance:before {
  content: "\44";
}
.icon-email:before {
  content: "\65";
}
.icon-instagram:before {
  content: "\69";
}
.icon-linkedin:before {
  content: "\6c";
}
.icon-smartphone:before {
  content: "\73";
}
.icon-twitter1:before {
  content: "\74";
}
.icon-messenger:before {
  content: "\6d";
}
.icon-pywikibot:before {
  content: "\50";
}
.icon-twitter2:before {
  content: "\54";
}
.icon-car:before {
  content: "\43";
}
.icon-stepslow:before {
  content: "\53";
}
